pandas==2.3.0
langchain==0.3.26
langchain-groq==0.3.4
faiss-cpu==1.11.0
tiktoken==0.9.0
langchain-community==0.3.26
langchain-openai==0.3.27
chromadb==1.0.13
sentence-transformers==4.1.0
pypdf==5.7.0
python-dotenv==1.1.1
pymupdf==1.27.1

# Embeddings
langchain-openai
langchain-huggingface
sentence-transformers